<div class="container">
  <h1><%=@user.username%>'s Followers</h1>
  <% if @updating == false %>
    <%= erb :_followers_list %>
  <% else %>
    <div id="loader" data-username="<%=@user.username%>"><img alt="loading_img" src="/img/ajax-loader.gif"/></div>
  <% end %>
</div>

<script src="/js/followers.js"></script>

