<div class="container">
  <h1>Basic Twitter App</h1>
  <h3>Enter the username to obtain their 10 most recent tweets:</h3>
  <form method="post" action="/get_tweets">
    <input type="text" placeholder="Twitter Username" name="username"/><br>
    <input type="submit" value="Get Tweets"/>
  </form>
</div>
