<div class="container">
  <h1><%=@user.username%>'s Tweets</h1>
  <div id="loader" data-username="<%=@user.username%>"><img alt="loading_img" src="/img/ajax-loader.gif"/></div>
</div>

<script src="/js/tweets.js"></script>
